*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:14px;
}
a{
    text-decoration: none;
    color:#000;
}
b{
    font-weight: normal;
}
li{
    list-style: none;
}